@using Humans.Web
@model UserSport
@{
    ViewBag.Title = "Manage";
    UserProfile acctCurrent = (UserProfile)Session["User"];
}

@section stylesheets{
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
}

@section scripts{
    <script type="text/javascript" src="~/scripts/venues.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
}

<div class="headforsport lightorangeback text-center dimcolor" style="font-size:22px;padding:5px;position:relative;">
    @Model.Sport.Longname
    <div class="whitetext" style="padding:10px 0px 0px 20px;font-size:16px;width:100%;position:absolute;top:0px;left:0px;">
        <div class="dropdown pull-right" style="padding-right:20px;">
            <a href="#" class="dropdown-toggle whitetext" data-toggle="dropdown">change sport <b class="caret"></b></a>
            <ul class="dropdown-menu">
                @foreach(UserSport usersport in acctCurrent.UserSports)
                {
                    <li><a href="~/venues/manage?sportid=@usersport.SportId">@usersport.Sport.Longname</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="text-center greytext" style="z-index:99;">
    <a data-target="addBox" class="headoption btn greytext">add spot.</a> | <a data-target="rememberBox" class="headoption btn greytext">remembered.</a> | <a data-target="findBox" class="headoption btn orangetext">find.</a>
</div>

<div id="addBox" class="mode" style="display:none;padding:20px;position:relative;">
    
    <h3 class="orangeback whitetext">add a new spot</h3>
    <div class="input-group">
        <span class="input-group-addon orangeback whitetext">name</span>
        <input type="text" class="form-control" placeholder="name" id="asName" />
    </div>
    <div id="locationField" class="input-group">
        <span class="input-group-addon orangeback whitetext">address</span>
        <input id="autocomplete" type="text" class="form-control" placeholder="address" />
    </div>
    <div class="input-group">
        <span class="input-group-addon orangeback whitetext">description</span>
        <textarea class="form-control" placeholder="description" cols="5" rows="5" id="asDescription"></textarea>
    </div>
    <div class="input-group">
        <span class="input-group-addon orangeback whitetext">logo</span>
        <input id="fileLogo" type="file" class="form-control" />
    </div>
    <br />
    <br />
    <h3 class="orangeback whitetext">add sports for this spot</h3>
    <div style="font-size:18px;">
        @foreach(SportCategory cat in ViewBag.SportCats)
        {
            <div style="margin:10px;"><b class="darkgreytext">@cat.Name|&nbsp;</b>
                <span class="sportslist">
                    @foreach (Sport sport in ((IList<Sport>)ViewBag.Sports).Where(s => s.SportCategoryId == cat.Id))
                    {
                        <span data-id="@sport.Id">@sport.Name.&nbsp;</span>
                    }
                </span>
            </div>
        }
    </div>
    <br />
    <br />
    <div class="addspot darkgreytext text-center center-block" style="width:150px;">
        <span class="btn button1">add spot.</span>
        <img src="~/images/loading_animated.gif" style="height:30px;display:none;" />
        <span class="ok glyphicon glyphicon-ok-sign" style="display:none;"></span>
        <span class="err glyphicon glyphicon-exclamation-sign" style="display:none;"></span>
    </div>
    <div style="height:100px;">&nbsp;</div>
    
    <input type="hidden" id="asAddress" />
    <input type="hidden" id="asAddress2" />
    <input type="hidden" id="asCity" />
    <input type="hidden" id="asState" />
    <input type="hidden" id="asZip" />
    <input type="hidden" id="asLat" />
    <input type="hidden" id="asLng" />
    <input type="hidden" id="asPlaceId" />
    
</div>
    
<div id="filterLinks" class="text-right" style="display:none;height:30px;">
    <span id="spanFilter" class="btn glyphicon glyphicon-filter greytext" style="font-size:20px;"></span>
    <span class="pull-left greytext"><span id="showmap" class="btn greytext" style="font-size:16px;">map</span>|<span id="showlist" class="btn greytext" style="font-size:16px;">list</span></span>
</div>

<div id="rememberBox" class="mode" style="display:none;">
    <div class="row-fluid">
        <div class="col-sm-12">
            <div id="remMapResults" style="width:100%;height:500px;display:none;"></div>
            <div id="remResults"></div>
        </div>
    </div>
</div>
    
<div id="findBox" class="mode">
    <div class="row-fluid">
        <div class="col-sm-9">
            <div id="findMapResults" style="width:100%;height:500px;display:none;"></div>
            <div id="findResults"></div>
        </div>
        <div id="filterBox" class="col-sm-3 text-center" style="padding:10px;">
            <div style="border-left:solid 1px #cbcbcb;width:100%;height:300px;padding:10px;">
                <div class="greyback" style="padding:15px;margin-top:10px;text-align:left;">
                    distance<span id="distanceDisplay" class="pull-right"></span>
                    <div id="sliderDist"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CurrPeep" style="display:none;" data-lat="@acctCurrent.Lat" data-lng="@acctCurrent.Lng" data-sport="@Model.Sport.Longname" data-sportid="@Model.SportId"></div>
